.overview-container {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start !important;
    font-family: 'Lato';

    position: relative;

    .stats {
        width: 100%;
        position: relative;
        top: 20px;
    }

    .refresh {
        position: absolute;
        top: -15px;
        right: -50px;
        cursor: pointer;

        img {
            width: 30px;
        }
    }

    .metrics-container {

        .metrics {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            >div {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 200px;
                background: #ffe1;
                border: 1px solid #f5f5f527;
                padding: 10px 10px;
                border-radius: var(--bs-border-radius) !important;

                .title {
                    font-family: 'Rubik';
                    font-size: 14px;
                    color: #ffc107;
                    text-align: center;
                }

                .text {
                    text-align: center;
                    font-family: 'Inconsolata';
                    font-size: 20px;
                    margin-top: -3px;
                }

                .subtext {
                    position: absolute;
                    bottom: -20px;
                    font-size: 10px;
                    color: #ffc107;
                    text-transform: uppercase;
                    opacity: 0.5;
                }
            }

            .fulfillment-rate {
                //width: 250px;
            }

            margin-bottom:30px;
        }

        .marketplace-breakdown {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            >div {
                height: 200px;
            }

            .fulfillment-rate {
                width: 400px;
            }
        }

        margin-bottom:30px;

    }

    .sales-container {
        width: 100%;
        font-family: 'Lato';
        font-weight: 13px;

        .sale-headers {

            >div {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Rubik';
                font-size: 12px;
            }

            margin-bottom:5px;
            color:#ffc107;

        }

        .sale {
            border-radius: 5px;
            background: #ffe1;
            padding: 6px 0;
            border: 1px solid #ffc10746;
            margin-bottom: 5px;
            font-size: 13px;
            font-family: 'Inconsolata';

            >div {
                text-align: center;
                align-content: center;
            }
        }
    }

}